*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

img {
  height: 64px;
  width: 64px;
}

.nav-bar {
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  text-transform: capitalize;
  font-weight: bold;
  color: black;
}
